/* Settings panel styles */
#settings-panel {
    display: none;
    position: fixed;
    top: 44px;
    left: 0px;
    width: 100%;
    background: #fff;
    padding: 24px;
    /* border-radius: 8px; */
    z-index: 100;
    border: 1px solid #2c3e50;
}

.settings-close {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 28px;
    cursor: pointer;
    color: #34495e;
}

#settings-panel select {
    background: #2c3e50;
    border: 1.5px solid #34495e;
    color: white;
    border-radius: 6px;
    padding: 2px 10px;
    font-size: 16px;
}

#settings-panel label {
    color: #2c3e50;
    font-weight: 500;
    margin-right: 8px;
}